font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Regular.ttf");
  font-weight: 500;
  font-style: normal;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

.body {
  margin: 0 auto;
}

.accordeon {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 3rem;
  background-color: #edf2ec;
  max-width: 1400px;
  min-height: 100vh;
  padding: 20px 30px;
}
.content_mem {
  width: 400px;
  margin: 0 auto;
}

.accordeon__content {
  display: flex;
  padding: 10px 0;
  display: none;
}

.wrapper {
  border-bottom: 1px solid #d9d9d9;
  cursor: pointer;
  /* border: 2px red solid; */
}

h1 {
  margin: 0 0 10px 10px;
}

@media (hover: hover) {
  .accordeon__label:hover {
    color: blue;
    cursor: pointer;
  }

  .label-wrapper:hover ~ .accordeon__content {
    display: flex;
  }
}

.label-wrapper {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 0 20px;
}

.accordeon__input {
  display: none;
}

.accordeon__input:checked ~ .accordeon__content {
  display: flex;
}

.accordeon__input:checked ~ .label-wrapper span {
  transform: rotate(0.13turn);
}

@media();
